autopep8          
click             
colorama         
Flask             
Flask-Cors        
Flask-DB2          
ibm-db           
itsdangerous    
Jinja2            
MarkupSafe         
pycodestyle        
python-dotenv      
python-http-client 
sendgrid         
setuptools     
six               
starkbank-ecdsa    
tomli             
Werkzeug