{% extends 'base.html' %}
{% block title %}
Manage Products
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input[type="number"] {
            padding: 2px;
            width: 80px;
        }
        input[type="image"] {
            border:none;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="heading">
        <div class="page-head">
            <h1>{{username}}'s Product Details</h1>
        </div>
    </div>
    <div style="margin-left:50px;">
        <br><br><br><br>
        <a id="button" href="{{url_for('.addProducts', username=username)}}" style="text-decoration:none;">Add a
            Product</a>
    </div>

    <div style="margin-left:50px;">
        <br>
        <table>
            <tr>
                <td><label class="info head">Product ID</label></td>
                <td><label class="info head">Product Name</label></td>
                <td><label class="info head">Available Stock</label></td>
                <td><label class="info head"></label></td>
                <td><label class="info head"></label></td>
                <td><label class="info head"></label></td>
            </tr>
            {% for product in products %}
            <tr>
                <td><label class="info">{{product['PRODUCTID']}}</label></td>
                <td><label class="info">{{product['PRODUCTNAME']}}</label></td>
                <td><label class="info">{{product['AVAILABLESTOCK']}}</label></td>
                <form method='POST'
                            action="{{url_for('.editProduct', username=username, pid=product['PRODUCTID'])}}">
                <td><label class="info">
                        <input type="number" name="newstock" id="newstock" style="color:black;" required>
                </label></td>
                <td><label class="info">
                        <input type="image" src="../static/edit.png" width="50" height="50">
                </label></td>
                </form>          
                <td><label class="info">
                        <a href="{{url_for('.deleteProduct', username=username, pid=product['PRODUCTID'])}}"
                            style="text-decoration:none;"><img src="../static/delete.png" width="50" height="50"></a>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>
{% endblock content %}