{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/signin.css">
</head>

<body>
    <form class="sign_in" method="POST">
        {% if error %}
            <label style="color:red;">{{error}}</label>
        {% endif %}
        <h1>Good to see you !</h1>
        <h2>Welcome</h2>
        <div class="form_input">
            <div class="form-element">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-element">
                <label for="userPass">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
        </div>
        <div class="btn_container">
            <input type="reset" id="button" value="Reset">
            <input type="submit" id="button" value="Submit">
        </div>
        <h3>New User ? <a href="signup">Register Here</a></h3>
    </form>
</body>

</html>
{% endblock content %}